/* BASE STYLES
============================================================================= */
* {
	box-sizing:border-box;
	margin:0;
	font-family:Yantramanav, sans-serif;
}

html body {height:100%;}

body	{background-image: linear-gradient(to right, purple, black)}

.flex--aligned 	{display:flex; align-items:center;}
.flex--center 	{display:flex; justify-content:center;}


/* SECTION STYLES
============================================================================= */

.section--margin-top {margin-top:1.5rem;}
.section--margin-xs{margin:.1rem;}

/* ------ Search Box ---------------------- */

.search-box {height:30px; 
			 width:150px;
			 padding-left:.5rem;
			 border:1px solid silver;
			 border-radius:5px;
			 transition:width 750ms ease-in;
}

/* ------ Channel Buttons ----------------- */

button {
	background-color:rgba(192, 0, 192, .1);
	color:silver;
	font-size:2rem;
	border:none;
	font-weight:200;
	width:150px;
	height:100px;
}

/* ------ Channel Box Styling ---------------------- */

.channels--margin {margin:.5rem auto;}

article {
	background-color:white;
	margin:0 auto;
	padding:5px;
	max-width:450px;
}

#title {
	text-decoration:none;
	font-weight:200;
	color:purple;
	font-size:1.6rem;
}

#title:hover {font-weight:400;}


#followers {font-size:.85rem; font-style:italic; color:grey;}

#logo {
	height:15%;
	width:15%;
	border-radius:50%;
}

#text{
	padding-left:.5rem;
}

/* MOBILE RESPONSIVENESS
============================================================================= */
